body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkred;
    width: 100%;
    text-align: center;

}



.todo-container{
    text-align: center;
}


button{
    background-color: salmon;
    border-color: black;
    cursor: pointer;
    
}

.completed{
    
    text-decoration: line-through rgb(176, 174, 174);
}

.done{
    color: green;

}

.undo{

    color: blue
}

.delete{
    color: red;
}